# packages

### scipy-notebook

beautifulsoup4
bokeh
cloudpickle
cython
dask
dill
distributed
h5py
ipywidgets
matplotlib
pandas
plotly
pyarrow
s3fs
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels

### tensorflow-notebook

tensorflow==2.0.0

# extensions

jupyter-bokeh
jupyter-tensorboard